<div class="body">
  
    <%= form_for @hope, html: { class: "form" } do |f| %>
    <h1 class="form-header">Log a new hope</h1>

        <% if flash[:error] %>
        <ul>
            <li class="error"><%= flash[:error] %></li>
        </ul>
        <% end %>

        <%= f.label :title %>
        <%= f.text_field :title %>
        <br>

        <%= f.collection_select(:category_id, Category.all, :id, :title, prompt: true) %><br>

        <%= f.label :date %>
        <%= f.text_field :date %>
        <br>

        <%= f.label :description %>
        <%= f.text_area :description %>
        <br>

        <%= f.submit "Create hope" %>
    <% end %><br>

    <%= link_to "Cancel", hopes_path %>
</div>