<h1><%= @hope[:title] %></h1>
<p>Description: <%= @hope[:description] %></p>
<p>Category: <%= @hope[:category] %></p>
<p>Created on: <%= @time %> on <%= @date %></p>

<%= link_to "Edit", edit_hope_path(@hope) %><br>
<%= button_to "Destroy hope", @hope, method: :delete %>

<%= link_to "Back to all hopes", hopes_path %>