<h1><%= @user[:name] %></h1>
<h3>Hopes</h3>

<% if @user.hopes.length > 0 %>
    <% @user.hopes.each { |hope| %>
        <ul>
        <li>
            <%= link_to hope[:title], hope %>
        </li>
        </ul>
    <% } %>
<% else %>
    <%= "#{@user.name}" %> has no hopes yet.<br>
<% end %><br>

<h3>Dreams</h3>

<% if @user.dreams.length > 0 %>
    <% @user.dreams.each { |dream| %>
        <ul>
        <li>
            <%= link_to dream[:title], dream %>
        </li>
        </ul>
    <% } %>
<% else %>
    <%= "#{@user.name}" %> has no dreams yet.<br>
<% end %><br>

<%= button_to "Destroy user", @user, method: :delete %><br>
<%= link_to "Edit user", edit_user_path(@user) %><br>
<%= link_to "Add a new hope", new_hope_path %><br>
<%= link_to "Add a new dream", new_dream_path %><br>
<%= link_to "Back to all users", users_path %>